@import url(./__place/logo_place_header.css);
@import url(./__place/logo_place_footer.css);

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  